{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>Search</title>
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
  	<link rel="stylesheet" type="text/css" href="{% static 'css/search-style.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'fonts/style.css' %}"/>
</head>
<body>	
<div id="wrap">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="Search by album or artist"><input id="search_submit" value="Rechercher" type="submit">
  </form>
  </div>
  &nbsp;
<div id="browse-wrap">
  <h1>Suggestions For You</h1>
<div class="container">
<div class="row">
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
</div>
</div>

<h1>Mandopop</h1>
<div class="container">
<div class="row">
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
</div>
</div>

<h1>Indie</h1>
<div class="container">
<div class="row">
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
  <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
    <div class="column">
    <img src="https://i.postimg.cc/FYhCYWm7/air-thumb.jpg" alt="" style="width:70%">
    <h4>Moon Safari</h4>
    <p>Air</p>
  </div>
</div>
</div>
  </div>
  </body>
</html>